<!DOCTYPE html>
<html>
<!-- -->
<head>
	<meta charset="utf-8">
	<title>Reality</title>
	<style type="text/css">
		h3{
			text-align: center;
			font-family: courier;
			color: #FFF;
		}
		iframe{
			margin-left: 440px;
			margin-right: auto;
		}
		body{
			background-color: black;

		}
	</style>
</head>
<body>
<iframe src="https://giphy.com/embed/l1J9QKk9iSUbuGt1u" width="480" height="197" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
<h3>Sometimes things that are visible are not the reality and    the things that are the reality are always hidden.</h3>
</body>
</html>
<!-- /a/mkIxSe7 -->